<%= form_with(model: personal_information, local: true) do |form| %>
  <% if personal_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_information.errors.count, "error") %> prohibited this personal_information from being saved:</h2>

      <ul>
      <% personal_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :社員番号 %>
    <%= form.number_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :氏名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :部署id %>
    <%= form.text_field :department_id %>
  </div>

  <div class="field">
    <%= form.label :職位id %>
    <%= form.text_field :position_grade_id %>
  </div>

  <div class="field">
    <%= form.label :業務id %>
    <%= form.text_field :task_id %>
  </div>

  <div class="field">
    <%= form.label :生年月日 %>
    <%= form.text_field :birth %>
  </div>

  <div class="field">
    <%= form.label :年齢 %>
    <%= form.number_field :age %>
  </div>

  <div class="field">
    <%= form.label :判定 %>
    <%= form.text_field :insurance %>
  </div>

  <div class="field">
    <%= form.label :居住地id %>
    <%= form.text_field :residence_id %>
  </div>

  <div class="field">
    <%= form.label :入社日 %>
    <%= form.date_select :join_date %>
  </div>

  <div class="field">
    <%= form.label :データ作成日 %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
