<p id="notice"><%= notice %></p>

<h1>Personal Informations</h1>

<table>
  <thead>
    <tr>
      <th>Employee</th>
      <th>Name</th>
      <th>Department</th>
      <th>Position grade</th>
      <th>Task</th>
      <th>Birth</th>
      <th>Age group</th>
      <th>Insurance</th>
      <th>Residence</th>
      <th>Join date</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @personal_informations.each do |personal_information| %>
      <tr>
        <td><%= personal_information.employee_id %></td>
        <td><%= personal_information.name %></td>
        <td><%= personal_information.department_id %></td>
        <td><%= personal_information.position_grade_id %></td>
        <td><%= personal_information.task_id %></td>
        <td><%= personal_information.birth %></td>
        <td><%= personal_information.age %></td>
        <td><%= personal_information.insurance %></td>
        <td><%= personal_information.residence_id %></td>
        <td><%= personal_information.join_date %></td>
        <td><%= personal_information.date %></td>
        <td><%= link_to 'Show', personal_information %></td>
        <td><%= link_to 'Edit', edit_personal_information_path(personal_information) %></td>
        <td><%= link_to 'Destroy', personal_information, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Personal Information', new_personal_information_path %>
