<p id="notice"><%= notice %></p>

<p>
  <strong>社員番号:</strong>
  <%= @personal_information.employee_id %>
</p>

<p>
  <strong>氏名:</strong>
  <%= @personal_information.name %>
</p>

<p>
  <strong>部署id:</strong>
  <%= @personal_information.department_id %>
</p>

<p>
  <strong>職位id:</strong>
  <%= @personal_information.position_grade_id %>
</p>

<p>
  <strong>業務id:</strong>
  <%= @personal_information.task_id %>
</p>

<p>
  <strong>生年月日:</strong>
  <%= @personal_information.birth %>
</p>

<p>
  <strong>年齢:</strong>
  <%= @personal_information.age %>
</p>

<p>
  <strong>判定:</strong>
  <%= @personal_information.insurance %>
</p>

<p>
  <strong>居住地id:</strong>
  <%= @personal_information.residence_id %>
</p>

<p>
  <strong>入社日:</strong>
  <%= @personal_information.join_date %>
</p>

<p>
  <strong>データ作成日:</strong>
  <%= @personal_information.date %>
</p>

<%= link_to 'Edit', edit_personal_information_path(@personal_information) %> |
<%= link_to 'Back', "/admin/personal", method: :get %>
