<p id="notice"><%= notice %></p>

<p>
  <strong>評価名:</strong>
  <%= @setting_value.name %>
</p>

<p>
  <strong>評価値:</strong>
  <%= @setting_value.value %>
</p>

<p>
  <strong>作成年度:</strong>
  <%= @setting_value.year %>
</p>

<%= link_to 'Edit', edit_setting_value_path(@setting_value) %> |
<%= link_to 'Back', "/admin/setting", method: :get %>
