<p id="notice"><%= notice %></p>

<p>
  <strong>Task id:</strong>
  <%= @task.task_ID %>
</p>

<p>
  <strong>Task list:</strong>
  <%= @task.task_list %>
</p>

<p>
  <strong>Price:</strong>
  <%= @task.price %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', tasks_path %>
