<p id="notice"><%= notice %></p>

<p>
  <strong>ユーザ id:</strong>
  <%= @login.user_id %>
</p>

<p>
  <strong>ユーザ pw:</strong>
  <%= @login.user_pw %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', "/admin/setting", method: :get %>
