<p id="notice"><%= notice %></p>

<h1>Family Allowances</h1>

<table>
  <thead>
    <tr>
      <th>Family type</th>
      <th>Price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @family_allowances.each do |family_allowance| %>
      <tr>
        <td><%= family_allowance.family_type %></td>
        <td><%= family_allowance.price %></td>
        <td><%= link_to 'Show', family_allowance %></td>
        <td><%= link_to 'Edit', edit_family_allowance_path(family_allowance) %></td>
        <td><%= link_to 'Destroy', family_allowance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Family Allowance', new_family_allowance_path %>
