<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @login.user_id %>
</p>

<p>
  <strong>User pw:</strong>
  <%= @login.user_pw %>
</p>

<%= link_to 'Edit', edit_login_path(@login) %> |
<%= link_to 'Back', logins_path %>
