<%= form_with(model: family_allowance, local: true) do |form| %>
  <% if family_allowance.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(family_allowance.errors.count, "error") %> prohibited this family_allowance from being saved:</h2>

      <ul>
      <% family_allowance.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :family_type %>
    <%= form.text_field :family_type %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
