<p id="notice"><%= notice %></p>

<p>
  <strong>個人情報:</strong>
  <%= @detail_employee_salary.personal_information_id %>
</p>

<p>
  <strong>額面給与:</strong>
  <%= @detail_employee_salary.face_salary %>
</p>

<p>
  <strong>差額:</strong>
  <%= @detail_employee_salary.minus_salary %>
</p>

<p>
  <strong>昇給率:</strong>
  <%= @detail_employee_salary.promotion_rate %>
</p>

<p>
  <strong>基準給与:</strong>
  <%= @detail_employee_salary.base_salary %>
</p>

<p>
  <strong>基本給:</strong>
  <%= @detail_employee_salary.basic_pay %>
</p>

<p>
  <strong>時間単価:</strong>
  <%= @detail_employee_salary.time_unit_price %>
</p>

<p>
  <strong>定額残業時間:</strong>
  <%= @detail_employee_salary.fixed_extra_task_time %>
</p>

<p>
  <strong>定額残業代:</strong>
  <%= @detail_employee_salary.fixed_overtime %>
</p>

<p>
  <strong>職能給（基準）:</strong>
  <%= @detail_employee_salary.job_ability_grade %>
</p>

<p>
  <strong>役職手当:</strong>
  <%= @detail_employee_salary.duty_allowance %>
</p>

<p>
  <strong>職務手当:</strong>
  <%= @detail_employee_salary.duty_allowance_task %>
</p>

<p>
  <strong>精勤手当:</strong>
  <%= @detail_employee_salary.fixed_allowance %>
</p>

<p>
  <strong>2018下期給与:</strong>
  <%= @detail_employee_salary.half_year_salary %>
</p>

<p>
  <strong>昨年時給:</strong>
  <%= @detail_employee_salary.last_years_hourly %>
</p>

<p>
  <strong>時給差額:</strong>
  <%= @detail_employee_salary.hourly_difference %>
</p>

<p>
  <strong>時給差額(percent):</strong>
  <%= @detail_employee_salary.hourly_difference_percent %>
</p>

<%= link_to 'Edit', edit_detail_employee_salary_path(@detail_employee_salary) %> |
<%= link_to 'Back', detail_employee_salaries_path %>
