<p id="notice"><%= notice %></p>

<h1>Adjustment Values</h1>

<table>
  <thead>
    <tr>
      <th>Adjustment list</th>
      <th>Value</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @adjustment_values.each do |adjustment_value| %>
      <tr>
        <td><%= adjustment_value.adjustment_list %></td>
        <td><%= adjustment_value.value %></td>
        <td><%= link_to 'Show', adjustment_value %></td>
        <td><%= link_to 'Edit', edit_adjustment_value_path(adjustment_value) %></td>
        <td><%= link_to 'Destroy', adjustment_value, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adjustment Value', new_adjustment_value_path %>
