<p id="notice"><%= notice %></p>

<p>
  <strong>Adjustment list:</strong>
  <%= @adjustment_value.adjustment_list %>
</p>

<p>
  <strong>Value:</strong>
  <%= @adjustment_value.value %>
</p>

<%= link_to 'Edit', edit_adjustment_value_path(@adjustment_value) %> |
<%= link_to 'Back', adjustment_values_path %>
