<%= form_with(model: adjustment, local: true) do |form| %>
  <% if adjustment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adjustment.errors.count, "error") %> prohibited this adjustment from being saved:</h2>

      <ul>
      <% adjustment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :employee_name %>
    <%= form.text_field :employee_name %>
  </div>

  <div class="field">
    <%= form.label :adjustment_type_id %>
    <%= form.text_field :adjustment_type_id %>
  </div>

  <div class="field">
    <%= form.label :count %>
    <%= form.number_field :count %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
