<%= form_with(model: member_type, local: true) do |form| %>
  <% if member_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(member_type.errors.count, "error") %> prohibited this member_type from being saved:</h2>

      <ul>
      <% member_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :家族形態 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :家族手当(形態) %>
    <%= form.number_field :price %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
