<p id="notice"><%= notice %></p>

<p>
  <strong>家族形態:</strong>
  <%= @member_type.name %>
</p>

<p>
  <strong>家族手当(形態):</strong>
  <%= @member_type.price %>
</p>

<%= link_to 'Edit', edit_member_type_path(@member_type) %> |
<%= link_to 'Back', "/admin/setting", method: :get %>
