<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_.age %>
</p>

<%= link_to 'Edit', edit_user__path(@user_) %> |
<%= link_to 'Back', user_s_path %>
