<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user_yong.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user_yong.age %>
</p>

<%= link_to 'Edit', edit_user_yong_path(@user_yong) %> |
<%= link_to 'Back', user_yongs_path %>
