<p id="notice"><%= notice %></p>

<p>
  <strong>職位名 :</strong>
  <%= @position_grade.name %>
</p>

<p>
  <strong>職能給（基準）:</strong>
  <%= @position_grade.job_ability_grade %>
</p>

<p>
  <strong>みなし残業:</strong>
  <%= @position_grade.task_time %>
</p>

<p>
  <strong>役職手当:</strong>
  <%= @position_grade.task_grade %>
</p>

<p>
  <strong>基準年齢:</strong>
  <%= @position_grade.base_age %>
</p>

<p>
  <strong>増額分:</strong>
  <%= @position_grade.add_amount %>
</p>

<%= link_to 'Edit', edit_position_grade_path(@position_grade) %> |
<%= link_to 'Back', "/admin/setting", method: :get %>
