<%= form_with(model: personal_information, local: true) do |form| %>
  <% if personal_information.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(personal_information.errors.count, "error") %> prohibited this personal_information from being saved:</h2>

      <ul>
      <% personal_information.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :社員番号 %>
    <%= form.number_field :employee_id %>
  </div>

  <div class="field">
    <%= form.label :氏名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :部署id %>
    <%= form.collection_select(:department_id, @departments, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :職位id %>
    <%= form.collection_select(:position_grade_id, @position_grades, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :業務id %>
    <%= form.collection_select(:task_id, @tasks, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :生年月日 %>
    <%= form.text_field :birth %>
  </div>

  <div class="field">
    <%= form.label :判定 %>
    <%= form.text_field :insurance %>
  </div>

  <div class="field">
    <%= form.label :居住地id %>
    <%= form.collection_select(:residence_id, @residences, :id, :name) %>
  </div>

  <div class="field">
    <%= form.label :入社日 %>
    <%= form.date_select :join_date %>
  </div>

  <div class="field">
    <%= form.label :データ作成日 %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>

<% end %>
<!-- <%= form_tag("/personal_information/id", method: "post") do %>

  <div class="field">
    <%= label_tag(:employee_id, "社員番号") %>
    <%= text_field_tag(:employee_id) %>
  </div>

  <%= collection_select(:id, :name, PersonalInformation.all, :id, :name) %>

<% end %> -->
