<p id="notice"><%= notice %></p>

<p>
  <strong>業務名:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>業務手当:</strong>
  <%= @task.price %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', "/admin/setting", method: :get %>
