<%= form_with(model: adjustment_type, local: true) do |form| %>
  <% if adjustment_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adjustment_type.errors.count, "error") %> prohibited this adjustment_type from being saved:</h2>

      <ul>
      <% adjustment_type.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :評価値名 %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :評価値%>
    <%= form.text_field :value %>
  </div>

  <div class="field">
    <%= form.label :評価値理由 %>
    <%= form.text_area :hint %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
