<p id="notice"><%= notice %></p>

<p>
  <strong>評価値名:</strong>
  <%= @adjustment_type.name %>
</p>

<p>
  <strong>評価値:</strong>
  <%= @adjustment_type.value %>
</p>

<p>
  <strong>評価値理由:</strong>
  <%= @adjustment_type.hint %>
</p>

<%= link_to 'Edit', edit_adjustment_type_path(@adjustment_type) %> |
<%= link_to 'Back', "/admin/setting", method: :get %>
