<p id="notice"><%= notice %></p>

<p>
  <strong>社員名:</strong>
  <%= @member.employee_name %>
</p>

<p>
  <strong>家族形態id:</strong>
  <%= @member.member_type_id %>
</p>

<p>
  <strong>家族数:</strong>
  <%= @member.count %>
</p>

<p>
  <strong>データ作成日:</strong>
  <%= @member.date %>
</p>

<%= link_to 'Edit', edit_member_path(@member) %> |
<%= link_to 'Back', "/admin/personal/family_info", method: :get %>
