<p id="notice"><%= notice %></p>

<p>
  <strong>社員名:</strong>
  <%= @adjustment.employee_name %>
</p>

<p>
  <strong>評価値タイプid:</strong>
  <%= @adjustment.adjustment_type_id %>
</p>

<p>
  <strong>評価値回数:</strong>
  <%= @adjustment.count %>
</p>

<p>
  <strong>データ作成日:</strong>
  <%= @adjustment.date %>
</p>

<%= link_to 'Edit', edit_adjustment_path(@adjustment) %> |
<%= link_to 'Back', "/admin/wage/adjustment_values_info", method: :get %>
